@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* font-family: 'Poppins', sans-serif; */

html,
body {
  font-family: "Poppins", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 32px;
}

.container--header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 100%;
}
/* Header  */

.header {
  height: 800px;
  padding-top: 31px;
  padding-bottom: 100px;

  background-color: #000;
  background-image: url("./../img/header-bg.jpg");
  background-size: cover;
  background-position: center;

  border-radius: 0 0 54px 54px;

  color: white;
}
.header a {
  color: #fff;
}

.nav {
  display: flex;

  justify-content: space-between;
  align-items: center;

  width: 100%;
}
.nav-list {
  display: flex;
  column-gap: 54px;
}
.nav-list__item {
  text-transform: capitalize;
}

.nav-list__link {
  color: #fff;
  opacity: 0.7;
}

.nav-list__link--active {
  opacity: 1;
}

.user {
  display: flex;
  column-gap: 8px;
  align-items: center;
}
.user__content {
  color: #fff;

  font-size: 14px;
  line-height: 1.5;
  text-align: right;
}
.user__greeting {
  opacity: 0.5;
}
.user__name {
  font-weight: 600;

  font-size: 14px;
  line-height: 21px;
}
.user__avatar {
  position: relative;
  height: 48px;
  width: 48px;
}
.user__avatar img {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 50%;
}
.user__avatar::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;

  display: block;
  height: 12px;
  width: 12px;
  border-radius: 50px;
  background-color: red;
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
}

.header__title {
  text-align: center;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.3;
  color: #ffffff;
}

.button {
  display: flex;
  align-items: center;
  column-gap: 10px;

  height: 72px;
  padding: 24px;

  background: #7b61ff;
  border-radius: 12px;

  color: #fff;
  font-size: 18px;
  font-weight: 600;

  transition: 0.3s ease-in;
}
.button:hover {
  background: rgb(143, 123, 244);
}

.form {
  width: 1140px;
  height: 88px;
  padding: 8px 8px;

  display: flex;

  background: #fff;
  border-radius: 12px;
  color: #000;
}

.form__input {
  position: relative;
  padding: 16px 20px 16px 56px;

  flex-grow: 1;

  line-height: 1;
}
.form__input::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;

  left: 16px;
  top: 24px;
}
.form__input--location {
  width: 224px;
}
.form__input--location::before {
  background-image: url("./../img/icons/icon.svg");
}
.form__input--activity {
  width: 97px;
}
.form__input--activity::before {
  background-image: url("./../img/icons/icon-1.svg");
}
.form__input--when {
  width: 119px;
}
.form__input--when::before {
  background-image: url("./../img/icons/icon-2.svg");
}
.form__input--guests {
  width: 56px;
}
.form__input--guests::before {
  background-image: url("./../img/icons/icon-3.svg");
}

.label {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;

  color: #5b5b5b;
}

.select {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  color: #161414;
}
/* .custom-select-container {
  width: 224px;
} */

.button-search {
  width: 60px;
  height: 60px;
  padding: 18px;

  align-self: center;
  background: #7b61ff;
  border-radius: 12px;
  font-size: 0;
}

.popular {
  display: flex;

  padding-top: 120px;
}
.popular__cards {
  display: flex;

  column-gap: 32px;
}
.popular__title {
  padding-bottom: 64px;
  font-weight: 600;
  font-size: 32px;
  line-height: 4.8;
}
.popular__card {
  display: flex;
  flex-direction: column;
}

.popular__card img {
  width: 203px;
  height: 181px;
  border-radius: 12px;
}

.popular__place {
  padding-top: 8px;
  font-weight: 500;
  font-size: 16px;
}

.popular__card p {
  font-weight: 400;
  font-size: 13px;

  color: #979797;
}

.hotels {
  padding: 60px 0 60px;
}
.title__view {
  display: flex;
  justify-content: space-between;
  padding-top: 120px;
  padding-bottom: 64px;
}
.view__text {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
}
.btn__view {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  column-gap: 4px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  border-radius: 12px;
  color: #5243c2;
  background: #f6f4ff;
}
.card-items {
  display: flex;
  justify-content: space-between;
}
.card__item {
  width: 320px;
  height: 446px;
}
.card__item img {
  border-radius: 12px;
}
.card__country {
  display: flex;
  align-items: center;
}
.card__country img {
  top: 2px;
  bottom: 2px;
  width: 16px;
  height: 16px;
  margin-right: 6px;
}
.card__country p {
  font-weight: 400;
  font-size: 13px;
  line-height: 2;
  color: #979797;
}
.card__map {
  position: relative;
}
.card__country--five::before {
  content: "";
  position: inherit;
  display: block;
  width: 88px;
  height: 16px;
  position: absolute;
  right: 0;
  background-image: url("./../img/icons/stars/rating/default.svg");
}
.card__country--three::before {
  content: "";
  position: inherit;
  display: block;
  width: 88px;
  height: 16px;
  position: absolute;
  right: 0;
  background-image: url("./../img/icons/stars/rating/three-stars.svg");
}
.card__country--four::before {
  content: "";
  position: inherit;
  display: block;
  width: 88px;
  height: 16px;
  position: absolute;
  right: 0;
  background-image: url("./../img/icons/stars/rating/four.svg");
}

.card__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 2.4;
}

.travel__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 16px;
}
.travel__text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 2;

  color: #5b5b5b;
}
.travel__cards {
  display: flex;
  justify-content: space-between;
}

.travel__card {
  position: relative;
  max-width: 320px;
  max-height: 380px;
}
.travel__card img {
  border-radius: 12px;
}
.travel__info {
  display: flex;
  position: absolute;
  bottom: 0;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;

  color: #878787;
  column-gap: 20px;
}
.travel__info img {
  padding-right: 4px;
}
.active-cards {
  display: flex;
  justify-content: space-between;
}
.active-cards__item img {
  border-radius: 12px;
}
.active-cards__item h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
.descriptiom-block {
  display: flex;
  padding-top: 120px;
  justify-content: center;
  align-items: center;
  column-gap: 32px;
}
.descriptiom-block img {
  border-radius: 24px;
}
.descriptiom-block__text {
  max-width: 556px;
  max-height: 316px;
}
.descriptiom-block__text p {
  padding-bottom: 32px;

  font-weight: 400;
  font-size: 16px;
  line-height: 2;

  color: #5b5b5b;
}
.descriptiom-block__text h3 {
  font-weight: 600;
  font-size: 32px;
  line-height: 3;
}

.footer {
  margin-top: 120px;
  width: 100%;
  height: 403px;

  background: #f9f9f9;
}
.footer-info {
  display: flex;
  padding-top: 120px;
}

.footer-info__social {
  max-width: 354.5px;
  margin-right: 64px;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.53;

  color: #5b5b5b;
}
.footer-info__social__network {
  display: flex;

  column-gap: 32px;
  padding-top: 32px;
}
.call {
  display: flex;
  column-gap: 34px;
}
.call-list__items {
  width: 125.83px;
}

.call-list .call-list__items h2 {
  padding-bottom: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;

  color: #161414;
}

.call-list__link {
  margin-bottom: 10px;
}
.call-list__link:last-child {
  margin-bottom: 0;
}

.call-list__link a {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.53;

  color: #5b5b5b;
}

.form-subscribe {
  max-width: 388px;
}
.form-subscribe h5 {
  padding-bottom: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
}

.form-group {
  background: #ffffff;
  border-radius: 12px;
  position: relative;
  padding: 16px 74px 16px 56px;
}

.form-group p {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.14;

  color: #5b5b5b;
}
.form-group input::placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #161414;
}

.form-group::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 16px;
  bottom: 29px;
  background-image: url("../img/travel/icon/mail.svg");
}

.form-btn {
  background: #7b61ff;
  border-radius: 12px;
}
.form-btn img {
  padding: 28px;
}
.form-subscribe__block {
  display: flex;
  column-gap: 16px;
}
